*{
    box-sizing: border-box;
}

body {
    /* Desktop */
    position: relative;
    width: 1440px;
    height: 8071px;
    /* 자동 레이아웃 */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
}

.testimonial {
    /* Testimonial */
    position: static;
    width: 1440px;
    height: 1122px;
    /* 자동 레이아웃 */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 112px 64px 112px 64px;


    /* Inside Auto Layout */
    flex: none;
    order: 6;
    flex-grow: 0;
    margin: 0px 0px;

    background: rgb(255, 255, 255);
}

.section-title {
    position: static;
    width: 1312px;
    height: 92px;
    /* 자동 레이아웃 */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;

    /* Inside Auto Layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 32px 0px;


}

.small-text-title {
    /* Subheading */
    position: static;
    width: 107px;
    height: 18px;
    /* 자동 레이아웃 */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;


    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 16px 0px;

    color: rgb(29, 30, 28);
    font-size: 11px;
    font-weight: 100;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;

    font-family: "Pretendard-Regular";
}

.big-text-title {
    /* Heading */
    position: static;
    width: 555px;
    height: 58px;
    /* 자동 레이아웃 */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0px;


    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 24px 0px;
    color: rgb(29, 30, 28);
    font-size: 48px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;

    font-family: "Pretendard-Regular";
}


.contents {
    position: relative;
    width: 1312px;
    height: 774px;
    /* Inside Auto Layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 32px 0px;
    
}

.content-1 {
    box-sizing: border-box; /*이걸 해야 패딩까지 포함해서 사이즈가 결정됨.*/
    position: absolute;
    width: 360px;
    height: 313px;
    left: 88px;
    right: 864px;
    top: 41px;
    bottom: 420px;
    /* 자동 레이아웃 */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 32px;

    border-radius: 24px;
    text-align: center;
    background: rgb(211, 249, 133);
    
}

.content-1 photo-image{
    /* Avatar Image */
position: static;
width: 56px;
height: 56px;
/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px;

background: url(image/human\ image1.png);
}

.content-1 quote{
    /* Quote */
position: static;
width: 296px;
height: 101px;
/* 자동 레이아웃 */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 32px;

/* Inside Auto Layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 24px 0px;

color: rgb(29, 30, 28);
font-family: "Pretendard-Regular";
font-size: 14px;
font-weight: 700;
line-height: 180%;
letter-spacing: 0%;
text-align: left;
    
}

.content-1 who{
    /* Text */
position: static;
width: 296px;
height: 18px;
/* 자동 레이아웃 */
display: flex;
flex-direction: column;
justify-content: flex-start;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 1;
margin: 0px 0px;

color: rgb(80, 80, 80);
font-family: "Pretendard-Regular";
font-size: 14px;
font-weight: 400;
line-height: 180%;
letter-spacing: 0%;
text-transform: uppercase;
text-align: center;
}
.content-1 who2{
    position: static;
width: 296px;
height: 18px;
/* 자동 레이아웃 */
display: flex;
flex-direction: column;
justify-content: flex-start;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 1;
margin: 0px 0px;
color: rgb(29, 30, 28);
font-family: "Pretendard-Regular";
font-size: 14px;
font-weight: 700;
line-height: 180%;
letter-spacing: 0%;
text-align: center;
    
}

.content-2 {
    /* Content */
    box-sizing: border-box;
    position: absolute;
    width: 360px;
    height: 338px;
    left: 508px;
    right: 444px;
    top: 15px;
    bottom: 421px;
    /* 자동 레이아웃 */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 32px;
    text-align: center;
    border-radius: 24px;

    background: rgb(241, 241, 241);
}

.content-2 photo-image{
    /* Avatar Image */
position: static;
width: 56px;
height: 56px;
/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;

background: url(image/human\ image2.png);
}

.content-2 quote {
    /* Quote */
    position: static;
    width: 296px;
    height: 126px;
    /* 자동 레이아웃 */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 32px;


    /* Inside Auto Layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 24px 0px;

    color: rgb(29, 30, 28);
    font-family: "Pretendard-Regular";
    font-size: 14px;
    font-weight: 700;
    line-height: 180%;
    letter-spacing: 0%;
    text-align: left;
}

.content-2 who {
    /* Text */
    position: static;
    width: 296px;
    height: 18px;
    /* 자동 레이아웃 */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0px;


    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 1;
    margin: 0px 0px;

    color: rgb(80, 80, 80);
    font-family: "Pretendard-Regular";
    font-size: 12px;
    font-weight: 100;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
}

.content-2 who2 {
    /* Text */
    position: static;
    width: 296px;
    height: 26px;
    /* 자동 레이아웃 */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0px;


    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 1;
    margin: 0px 0px;

    color: rgb(29, 30, 28);
    font-family: "Pretendard-Regular";
    font-size: 14px;
    font-weight: 700;
    line-height: 180%;
    letter-spacing: 0%;
    text-align: center;
}
.content-3 {
box-sizing: border-box;
position: absolute;
width: 360px;
height: 338px;
left: 911px;
right: 41px;
top: 73px;
bottom: 363px;
/* 자동 레이아웃 */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 32px;

border-radius: 24px;

background: rgb(166, 232, 246);
}

.content-3 photo-image{
    /* Avatar Image */
position: static;
width: 56px;
height: 56px;
/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;

background: url(image/human\ image3.png);

}

.content-3 quote {
    /* Quote */
    position: static;
    width: 296px;
    height: 126px;
    /* 자동 레이아웃 */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 32px;


    /* Inside Auto Layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 24px 0px;

color: rgb(29, 30, 28);
    font-family: "Pretendard-Regular";
    font-size: 14px;
    font-weight: 700;
    line-height: 180%;
    letter-spacing: 0%;
    text-align: left;
}

.content-3 who {
    /* Text */
    position: static;
    width: 296px;
    height: 18px;
    /* 자동 레이아웃 */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0px;


    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 1;

    color: rgb(80, 80, 80);
    font-family: "Pretendard-Regular";
    font-size: 12px;
    font-weight: 100;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;

}

.content-3 who2 {
    /* Text */
    position: static;
    width: 296px;
    height: 26px;
    /* 자동 레이아웃 */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0px;


    /* Inside Auto Layout */
    flex: none;
    order: 1;

    color: rgb(29, 30, 28);
    font-family: "Pretendard-Regular";
    font-size: 14px;
    font-weight: 700;
    line-height: 180%;
    letter-spacing: 0%;
    text-align: center;
}

.content-4 {
box-sizing: border-box;
position: absolute;
width: 360px;
height: 313px;
left: 258px;
right: 694px;
top: 401px;
bottom: 60px;
/* 자동 레이아웃 */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 32px;

border-radius: 24px;

background: rgb(252, 190, 220);

}

.content-4 photo-image{
    /* Avatar Image */
position: static;
width: 56px;
height: 56px;
/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;

background:url(image/human\ image4.png);
}

.content-4 quote {
    /* Quote */
    position: static;
    width: 296px;
    height: 101px;
    /* 자동 레이아웃 */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 32px;


    /* Inside Auto Layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 24px 0px;

    color: rgb(29, 30, 28);
    font-family: "Pretendard-Regular";
    font-size: 14px;
    font-weight: 700;
    line-height: 180%;
    letter-spacing: 0%;
    text-align: left;
}

.content-4 who {
    /* Text */
    position: static;
    width: 296px;
    height: 18px;
    /* 자동 레이아웃 */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0px;


    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 1;
    margin: 0px 0px;

    color: rgb(80, 80, 80);
    font-family: "Pretendard-Regular";
    font-size: 12px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
}

.content-4 who2 {
    /* Text */
    position: static;
    width: 296px;
    height: 26px;
    /* 자동 레이아웃 */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0px;


    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 1;
    margin: 0px 0px;

    color: rgb(29, 30, 28);
    font-family: "Pretendard-Regular";
    font-size: 14px;
    font-weight: 700;
    line-height: 180%;
    letter-spacing: 0%;
    text-align: center;
}
.content-5 {
box-sizing: border-box;
position: absolute;
width: 360px;
height: 313px;
left: 688px;
right: 264px;
top: 429px;
bottom: 32px;
/* 자동 레이아웃 */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 32px;

border-radius: 24px;

background: rgb(251, 200, 153);
}

.content-5 photo-image{
/* Avatar Image */
position: static;
width: 56px;
height: 56px;
/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;

background: url(image/human\ image5.png);

}
.content-5 quote {
    /* Quote */
    position: static;
    width: 296px;
    height: 101px;
    /* 자동 레이아웃 */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 32px;


    /* Inside Auto Layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 24px 0px;

    color: rgb(29, 30, 28);
    font-family: "Pretendard-Regular";
    font-size: 14px;
    font-weight: 700;
    line-height: 180%;
    letter-spacing: 0%;
    text-align: left;

}

.content-5 who {
    /* Text */
    position: static;
    width: 296px;
    height: 18px;
    /* 자동 레이아웃 */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0px;


    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 1;
    margin: 0px 0px;

    color: rgb(80, 80, 80);
    font-family: "Pretendard-Regular";
    font-size: 12px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
}

.content-5 who2 {
    /* Text */
    position: static;
    width: 296px;
    height: 26px;
    /* 자동 레이아웃 */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0px;


    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 1;
    margin: 0px 0px;

    color: rgb(29, 30, 28);
    font-family: "Pretendard-Regular";
    font-size: 14px;
    font-weight: 700;
    line-height: 180%;
    letter-spacing: 0%;
    text-align: center;
}

.faq-section{
    /* FAQ */
position: static;
width: 1440px;
height: 754px;
/* 자동 레이아웃 */
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 112px 64px 112px 64px;

/* Inside Auto Layout */
flex: none;
order: 7;
flex-grow: 0;
margin: 0px 0px;

background: rgb(255, 255, 255);

}

.faq-frame{
    /* Frame 62 */
position: static;
width: 528px;
height: 496px;
/* 자동 레이아웃 */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 0px;

/* Inside Auto Layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 1;
margin: 16px 0px;
}


.faq-small-title{
    /* Subheading */
position: static;
width: 528px;
height: 18px;
/* 자동 레이아웃 */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 16px 0px;

color: rgb(29, 30, 28);
font-family: Pretendard;
font-size: 12px;
font-weight: 100;
line-height: 150%;
letter-spacing: 0%;
text-align: left;
text-transform: uppercase;
}

.faq-big-title{
    /* Heading */
position: static;
width: 528px;
height: 116px;
/* 자동 레이아웃 */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 24px 0px;

color: rgb(29, 30, 28);
font-family: Pretendard;
font-size: 48px;
font-weight: 700;
line-height: 120%;
letter-spacing: 0%;
text-align: left;
}


.faq-description{

    /* Text */
position: static;
width: 391px;
height: 76px;
/* 자동 레이아웃 */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 24px 0px;

color: rgb(29, 30, 28);
font-family: Pretendard;
font-size: 14px;
font-weight: 400;
line-height: 180%;
letter-spacing: 0%;
text-align: left;

}

.accordion{
    position: static;
width: 752px;
height: 496px;
/* 자동 레이아웃 */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 0px;

/* Inside Auto Layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 1;
margin: 16px 0px;

}

.accordion-item{
    /* Accordion Item */
position: static;
width: 800px;
/* 자동 레이아웃 */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 20px 0px 20px 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
margin: 0px 0px;
}

.accordion-item small-title{
    /* Question */
position: static;
width: 708px;
height: 21px;
/* 자동 레이아웃 */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 1;
margin: 0px;

color: rgb(29, 30, 28);
font-family: Pretendard;
font-size: 14px;
font-weight: 100;
line-height: 150%;
letter-spacing: 0%;
text-align: left;
}


.accordion-item small-text{
    /* Text */
position: static;
width: 391px;
height: 148 px;
/* 자동 레이아웃 */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 20px 0px 20px 0px;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 16px 0px;

color: rgb(29, 30, 28);
font-family: Pretendard;
font-size: 14px;
font-weight: 700;
line-height: 180%;
letter-spacing: 0%;
text-align: left;
}

.divider-line{
    /* Divider */
position: static;
width: 136px;
height: 1px;
/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 0px;

background: rgb(29, 30, 28);
}

.title-box{
    
position: static;
width: 752px;
height: 72px;
/* 자동 레이아웃 */
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 20px 0px 20px 0px;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 0px;
}

.title-text{
    /* Question */
position: static;
width: 708px;
height: 21px;
/* 자동 레이아웃 */
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 20px 0px 20px 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 1;
margin: 0px;

color: rgb(29, 30, 28);
font-family: Pretendard;
font-size: 14px;
font-weight: 100;
line-height: 150%;
letter-spacing: 0%;
text-align: left;

}

.cta{
    /* CTA */
position: static;
width: 1440px;
height: 613px;
/* 자동 레이아웃 */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 112px 64px 112px 64px;


/* Inside Auto Layout */
flex: none;
order: 8;
flex-grow: 0;
margin: 0px 0px;

background: rgb(255, 255, 255);

}

.column{
    /* Column */
position: static;
width: 1312px;
height: 389px;
/* 자동 레이아웃 */
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: center;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 1;
margin: 0px 80px;
}

.cta-content{
    /* Content */
position: static;
width: 1312px;
/* 자동 레이아웃 */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 24px 0px;
}


.cta-content-frame{
    /* Frame 65 */
position: static;
width: 1312px;
height: 204px;
/* 자동 레이아웃 */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 24px 0px;
}

.cta-content-frame2{
    /* Frame 66 */
position: static;
width: 1312px;
height: 96px;
/* 자동 레이아웃 */
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 12px 0px;
}

.cta-content-frame2 first-text{
    /* Heading */
position: static;
width: 247px;
height: 96px;
/* 자동 레이아웃 */
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 24px;

color: rgb(29, 30, 28);
font-family: Pretendard;
font-size: 96px;
font-weight: 700;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
}

.cta-content-frame2 cta-image{
    /* Rectangle 1 */
position: static;
width: 240px;
height: 96px;
/* Inside Auto Layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 0px 24px;

border-radius: 48px;

background: url(image/cta\ image.png);
}

.cta-content-frame2 last-text{
    /* Heading */
position: static;
width: 683px;
height: 96px;
/* 자동 레이아웃 */
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 2;
flex-grow: 0;
margin: 0px 24px;

color: rgb(29, 30, 28);
font-family: Pretendard;
font-size: 96px;
font-weight: 700;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
}

.cta-content-header{
    /* Heading */
position: static;
width: 1312px;
/* 자동 레이아웃 */
display: flex;
flex-direction: column;
justify-content: flex-start;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 12px 0px;

color: rgb(29, 30, 28);
font-family: Pretendard;
font-size: 96px;
font-weight: 700;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
}


.cta-text{

    /* Text */
position: static;
width: 639px;
/* 자동 레이아웃 */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 24px 0px;

color: rgb(29, 30, 28);
font-family: Pretendard;
font-size: 14px;
font-weight: 400;
line-height: 180%;
letter-spacing: 0%;
text-align: center;
}

.button{
    /* button */
position: static;
width: 143px;
height: 45px;
/* 자동 레이아웃 */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 24px 12px 24px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 16px;

border: 1px solid rgb(29, 30, 28);
border-radius: 42px;

background: url(image/button.png);
}

.blog{
    /* Blog */
position: static;
width: 1440px;
/* 자동 레이아웃 */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 112px 64px 112px 64px;


/* Inside Auto Layout */
flex: none;
order: 9;
flex-grow: 0;
margin: 0px 0px;

background: rgb(255, 255, 255);
}

.blog-section-title{
    /* Section Title */
position: static;
width: 768px;
height: 233px;
/* 자동 레이아웃 */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 80px 0px;   
}

.blog-section-subtitle{
    /* Subheading */
position: static;
width: 126px;
height: 18px;
/* 자동 레이아웃 */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 16px 0px;

color: rgb(29, 30, 28);
font-family: Pretendard;
font-size: 12px;
font-weight: 100;
line-height: 150%;
letter-spacing: 0%;
text-align: center;
text-transform: uppercase;
}

.blog-content{
    /* Content */
position: static;
width: 768px;
height: 199px;
/* 자동 레이아웃 */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 16px 0px;
}

.blog-frame{
    /* Frame 65 */
position: static;
width: 768px;
height: 124px;
/* 자동 레이아웃 */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 24px 0px;
}

.blog-text{
    /* Text */
position: static;
width: 520px;
height: 51px;
/* 자동 레이아웃 */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 24px 0px;

color: rgb(29, 30, 28);
font-family: Pretendard;
font-size: 14px;
font-weight: 700;
line-height: 180%;
letter-spacing: 0%;
text-align: center;
}

.blog-frame2{

/* Heading */
position: static;
width: 768px;
height: 58px;
/* 자동 레이아웃 */
display: flex;
flex-direction: column;
justify-content: flex-start;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 8px 0px;

color: rgb(29, 30, 28);
font-family: Pretendard;
font-size: 48px;
font-weight: 700;
line-height: 120%;
letter-spacing: 0%;
text-align: center;
}


@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}