/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
    box-sizing: border-box
}

body {
  background: rgb(255, 255, 255);
  position: relative;
  width: 1440px;
  height: 8062px;
  /* 자동 레이아웃 */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px
}


.header {
    /* Navbar */
    position: static;
    width: 1440px;
    height: 72px;
   /* 자동 레이아웃 */
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 0px 64px 0px 64px;
 
   /* Inside Auto Layout */
   flex: none;
   order: 0;
   flex-grow: 0;
   margin: 0px 0px; 
 }

 /* Container */
.header-container {
    
    position: static; 
    width: 1312px;
    height: 45px;
    /* 자동 레이아웃 */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
  
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 1;
    margin: 0px 0px;
  }

/* Logo */
.header--logo--title {
  position: static;
  width: 118.95px;
  height: 24px;
  /* Inside Auto Layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;

  /* background: rgb(29, 30, 28); */
}

.header--nav {
    width: 1000px;
    position: relative;
    height: 45px;
}
/* Column */
.header--menu {
 /* Column */
 position: absolute;
 width: 559px;
 height: 45px;
 /* 자동 레이아웃 */
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 padding: 0px;

 /* Inside Auto Layout */
 flex: none;
 order: 1;
 flex-grow: 0;
 margin: 0px 10px;
 left: 0px;
 
}

.header--menu--item {
    
 /* Column */
position: static;
width: 299px;
height: 25px;
/* 자동 레이아웃 */
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 48px;

}

.header--item {
  /* Link */
position: static;
width: 40px;
height: 25px;
/* 자동 레이아웃 */
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
padding: 0px;

/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 48px;

color: rgb(29, 30, 28);
font-family: Pretendard;
font-size: 14px;
font-weight: 400;
line-height: 180%;
letter-spacing: 0%;
text-align: left;

}

.header--menu--login {
  /* Column */
position: absolute;
width: 212px;
height: 45px;
/* 자동 레이아웃 */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 48px;
right: 0px;
}

.header--login {
  /* button */
position: static;
width: 88px;
height: 45px;
/* 자동 레이아웃 */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 24px 12px 24px;

/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 24px;
}

.image-button {
  background-image: url('../img_uk/image.png'); 
  /* background-size: cover; */
  /* button */
  position: static;
  width: 88px; 
  height: 45px;
  /* 자동 레이아웃 */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px 12px 24px;


  /* Inside Auto Layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 24px;

  border: 1px solid rgb(29, 30, 28);
  border-radius: 42px;

  background: rgb(255, 255, 255);
}

.image-button2 {
  background-image: url('../img_uk/image_copy.png'); 
  /* background-size: cover; */
  /* button */
  position: static;
  width: 100px;
  height: 45px;
  /* 자동 레이아웃 */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px 12px 24px;


  /* Inside Auto Layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 24px;
  border: 1px solid rgb(29, 30, 28);
  border-radius: 42px;

  background: rgb(29, 30, 28);
}

.image-button-text {
  /* Claim Your Spot */
  position: static;
  width: 40px;
  height: 21px;
  /* 자동 레이아웃 */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px 12px 24px;


  /* Inside Auto Layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 8px;
  color: rgb(29, 30, 28);
  font-family: General Sans Variable;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}

.image-button2-text {

  /* Claim Your Spot */
  position: static;
  width: 52px;
  height: 21px;
  /* 자동 레이아웃 */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px 12px 24px;
  

  /* Inside Auto Layout */
  flex: none;
   order: 0;
  flex-grow: 0;
  margin: 0px 8px;
  color: rgb(255, 255, 255);
  font-family: General Sans Variable;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}

.header--body {
     
  position: static;
  width: 1440px;
  height: 864px;
  /* 자동 레이아웃 */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 112px 64px 112px 64px;


}

.left--section {

  /* Content */
  position: relative;
  width: 640px;
  height: 520px;
  /* 자동 레이아웃 */
  display: flex;
  margin-top: 200px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;


  /* Inside Auto Layout */
  flex: none;
  order: 0;
  flex-grow: 1;
  margin: 0px 8px;
}

.left--section--up {
   /* Section Title */
   position: static;
   width: 640px;
   height: 396px;
   /* 자동 레이아웃 */
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
   padding: 0px;
   
   
   /* Inside Auto Layout */
   flex: none;
   order: 0;
   align-self: stretch;
   flex-grow: 0;
   margin: 32px 0px;
}

.content--1{
   /* Heading */
   width: 640px;
   height: 288px;
   position: static;
   /* 자동 레이아웃 */
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
   padding: 0px;
   
   
   /* Inside Auto Layout */
   flex: none;
   order: 0;
   align-self: stretch;
   flex-grow: 0;
   margin: 32px 0px;
   
   color: rgb(29, 30, 28);
   font-family: Pretendard;
   font-size: 96px;
   font-weight: 700;
   line-height: 100%;
   letter-spacing: 0%;
   text-align: left;
}
.right--section {
   /* Placeholder / Image */
   background-image: url("../img_uk/right.png"); 
   position: static;
   width: 640px;
   height: 640px;
   /* Inside Auto Layout */
   flex: none;
   order: 1;
   flex-grow: 1;
   margin: 0px 32px;
}

.content--1 {
   /* Heading */
  position: static; 
  width: 640px;
  height: 288px;
  /* 자동 레이아웃 */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  
  
  /* Inside Auto Layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 32px 0px;
  
  color: rgb(29, 30, 28);
  font-family: Pretendard;
  font-size: 96px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
}

.welcome {
       /* Text */
   position: static;
   width: 480px;
   height: 76px;
   /* 자동 레이아웃 */
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
   padding: 0px;
   
   
   /* Inside Auto Layout */
   flex: none;
   order: 1;
   flex-grow: 0;
   margin: 32px 0px;
   
   color: rgb(29, 30, 28);
   font-family: Pretendard;
   font-size: 14px;
   font-weight: 400;
   line-height: 180%;
   letter-spacing: 0%;
   text-align: left;
   }

.image-spot {
   /* background-image: url('../img_uk/spot.png'); */
    /* button */
   position: absolute;
   top: 550px;
   margin-left: 100px;
   width: 130px;
   height: 50px;
   /* 자동 레이아웃 */
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   padding: 12px 24px 12px 24px;
   
   
   /* Inside Auto Layout */
   flex: none;
   order: 0;
   flex-grow: 0;
   margin: 0px 16px;

   border: 1px solid rgb(29, 30, 28);
   border-radius: 42px;

   background: rgb(29, 30, 28);
   }

.clam {
    /* Claim Your Spot */
    position: static;
    width: 95px;
    height: 21px;
    /* 자동 레이아웃 */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px 12px 24px;
   
   
   /* Inside Auto Layout */
   flex: none;
   order: 0;
   flex-grow: 0;
   margin: 0px 8px;

   color: rgb(255, 255, 255);
   font-family: Pretendard;
   font-size: 14px;
   font-weight: 100;
   line-height: 150%;
   letter-spacing: 0%;
   text-align: left;
   }

.Social--proof {
    /* Social Proof */
    position: static;
    width: 1440px;
    height: 237px;
    /* 자동 레이아웃 */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 80px 64px 80px 64px;
    
    
    /* Inside Auto Layout */
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0px 0px;
}

.leading {
    /* Heading */
    position: static;
    width: 1312px;
    height: 18px;
    /* 자동 레이아웃 */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* padding: 80px 64px 80px 64px; */
    
    
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 24px 0px;

    color: rgb(29, 30, 28);
    font-family: Pretendard;
    font-size: 12px;
    font-weight: 100;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
}

.row--nav {
    /* Row */
   position: static;
   width: 1312px;
   height: 35px;
   /* 자동 레이아웃 */
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   padding: 20px;
   padding-left: 180px;
   
   /* Inside Auto Layout */
   flex: none;
   order: 0;
   align-self: stretch;
   flex-grow: 0;
   margin: 24px 0px;
}

.ip {
    /* Vector */
    position: static;
    width: 144.98px;
    height: 32.09px;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 48px;
   }

.ip1 {
    /* Logo */
   position: static;
   width: 144.94px;
   height: 32px;
   /* Inside Auto Layout */
   flex: none;
   order: 1;
   flex-grow: 0;
   margin: 0px 48px;
}
.ip2 {
   /* Logo */
   position: static;
   width: 137.6px;
   height: 32px;
   /* Inside Auto Layout */
   flex: none;
   order: 2;
   flex-grow: 0;
   margin: 0px 48px;
}
.ip3 {
   /* Logo */
   position: static;
   width: 154px;
   height: 28px;
   /* Inside Auto Layout */
   flex: none;
   order: 3;
   flex-grow: 0;
   margin: 0px 48px;
}
.ip4 {
   /* Logo */
   position: static;
   width: 132px;
   height: 35px;
   /* Inside Auto Layout */
   flex: none;
   order: 4;
   flex-grow: 0;
   margin: 0px 48px;
}


.feature {
    /* Features */
    position: static;
    width: 1440px;
    height: 567px;
    /* 자동 레이아웃 */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 112px 64px 112px 64px;
    
    
    /* Inside Auto Layout */
    flex: none;
    order: 3;
    flex-grow: 0;
    margin: 0px 0px;
}
.middle {
    /* Frame 63 */
    position: static;
    width: 712px;
    height: 58px;
    /* 자동 레이아웃 */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    
    
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 80px 0px;
}
.choose {
   /* Heading */
   position: static;
   width: 299px;
   height: 58px;
   /* 자동 레이아웃 */
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   padding-left: 108px;
   
   
   /* Inside Auto Layout */
   flex: none;
   order: 0;
   flex-grow: 0;
   margin: 0px 16px;

   color: rgb(29, 30, 28);
   font-family: Pretendard;
   font-size: 48px;
   font-weight: 700;
   line-height: 120%;
   letter-spacing: 0%;
   text-align: center;
}

.mid--img {
    /* Rectangle 1 */
    position: static;
    width: 180px;
    height: 58px;
    /* Inside Auto Layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 16px;

    border-radius: 48px;

    background: url('../img_uk/cowork.png'),rgb(241, 241, 241);
}

.middle--down {
    /* Row */
   position: static;
   width: 1312px;
   height: 205px;
   /* 자동 레이아웃 */
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: flex-start;
   padding: 0px;
   
   
   /* Inside Auto Layout */
   flex: none;
   order: 1;
   align-self: stretch;
   flex-grow: 0;
   margin: 80px 0px;
}

.middle1 {
  /* Column */
   position: static;
   width: 405.33px;
   height: 205px;
   /* 자동 레이아웃 */
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   padding: 0px;
   
   
   /* Inside Auto Layout */
   flex: none;
   order: 0;
   flex-grow: 1;
   margin: 0px 48px;
}

.middle2 {
  
    /* Column */
   position: static;
   width: 405.33px;
   height: 205px;
   /* 자동 레이아웃 */
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   padding: 0px;
   
   
   /* Inside Auto Layout */
   flex: none;
   order: 1;
   flex-grow: 1;
   margin: 0px 48px;
}

.middle3 {
   
       /* Column */
   position: static;
   width: 405.33px;
   height: 205px;
   /* 자동 레이아웃 */
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   padding: 0px;
   
   
   /* Inside Auto Layout */
   flex: none;
   order: 2;
   flex-grow: 1;
   margin: 0px 48px;
}

.space-title {
    /* Section Title */
    position: static;
    width: 405.33px;
    height: 133px;
    /* 자동 레이아웃 */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    
    
    /* Inside Auto Layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 24px 0px;
}
.flex-img {
    /* Vector */
   position: static;
   width: 45px;
   height: 36px;
   left: 3.1%;
   right: 3.79%;
   top: 12.5%;
   bottom: 12.5%;
   background-image: url('../img_uk/space.png');
   background-repeat: no-repeat;
   background-size: contain;
}

.flex2-img {
  /* Vector */
 position: static;
 width: 45px;
 height: 36.01px;
 left: 3.1%;
 right: 3.79%;
 top: 12.5%;
 bottom: 12.5%;
 background: url('../img_uk/Card.png');
 background-repeat: no-repeat;
 background-size: contain;
}

.flex3-img {
  /* Vector */
  position: static;
 width: 45px;
 height: 36.01px;
 left: 3.1%;
 right: 3.79%;
 top: 12.5%;
 bottom: 12.5%;
 background: url('../img_uk/membership.png');
 background-repeat: no-repeat;
 background-size: contain;
}

.flexible {
    /* Heading */
    position: static;
    width: 405.33px;
    height: 33px;
    /* 자동 레이아웃 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    
    
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 24px 0px;
    
    color: rgb(29, 30, 28);
    font-family: Pretendard;
    font-size: 24px;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: center;

}

.title {
   /* Text */
   position: static;
   width: 405.33px;
   height: 76px;
   /* 자동 레이아웃 */
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
   padding: 0px;
   
   
   /* Inside Auto Layout */
   flex: none;
   order: 1;
   align-self: stretch;
   flex-grow: 0;
   margin: 24px 0px;

   color: rgb(29, 30, 28);
   font-family: Pretendard;
   font-size: 14px;
   font-weight: 400;
   line-height: 180%;
   letter-spacing: 0%;
   text-align: center;   

}

.tour {
  /* Virtual Tour */
  position: static;
  width: 1440px;
  height: 1322px;
  /* 자동 레이아웃 */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 112px 64px 112px 64px;
  
  
  /* Inside Auto Layout */
  flex: none;
  order: 4;
  flex-grow: 0;
  margin: 0px 0px;
}

.tour-space {

  /* Content */
  position: static;
  width: 768px;
  height: 318px;
  /* 자동 레이아웃 */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  
  
  /* Inside Auto Layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 80px 0px;
}

.name {
  /* Subheading */
  position: static;
  width: 100px;
  height: 18px;
  /* 자동 레이아웃 */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  
  
  /* Inside Auto Layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 16px 0px;

  color: rgb(29, 30, 28);
  font-family: Pretendard;
  font-size: 12px;
  font-weight: 100;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}

.tour-space-down {
  /* Content */
  position: static;
  width: 768px;
  /* height: 199px; */
  /* 자동 레이아웃 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  
  
  /* Inside Auto Layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 16px 0px;
}

.paragraph1 {
  /* Heading */
   position: static;
   width: 768px;
   height: 58px;
   /* 자동 레이아웃 */
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 0px;
   
   
   /* Inside Auto Layout */
   flex: none;
   order: 0;
   align-self: stretch;
   flex-grow: 0;
   margin: 8px 0px;
   color: rgb(29, 30, 28);
   font-family: Pretendard;
   font-size: 48px;
   font-weight: 700;
   line-height: 120%;
   letter-spacing: 0%;
   text-align: center;
}

.tour-space-middle {
  /* Frame 66 */
  position: static;
  width: 768px;
  height: 58px;
  /* 자동 레이아웃 */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  
  
  /* Inside Auto Layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 0px 0px;
}

.forest {
  /* Rectangle 1 */
  position: static;
  width: 180px;
  height: 58px;
  /* Inside Auto Layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 12px;
  border-radius: 48px;
  background-image: url('../img_uk/forest.png');
}

.lens {
  /* Heading */
  position: static;
  width: 109px;
  height: 58px;
  /* 자동 레이아웃 */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  
  
  /* Inside Auto Layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 12px;
  
  color: rgb(29, 30, 28);
  font-family: Pretendard;
  font-size: 48px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
}

.middle-low {
  /* Text */
  position: static;
  width: 788px;
  height: 51px;
  /* 자동 레이아웃 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  
  
  /* Inside Auto Layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 24px 0px;

  color: rgb(29, 30, 28);
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 420;
  line-height: 180%;
  letter-spacing: 0%;
  text-align: center;
}

.explore-big {
  /* Actions */
  position: static;
  width: 140px;
  height: 61px;
  /* 자동 레이아웃 */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 0px 0px 0px;
  
  
  /* Inside Auto Layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 24px 0px;
}
.explore {
  /* button */
  background-image: url('../img_uk/explore.png');
  position: static;
  width: 140px;
  height: 45px;
  /* 자동 레이아웃 */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px 12px 24px;
  
  
  /* Inside Auto Layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 24px;

  border: 1px solid rgb(29, 30, 28);
  border-radius: 42px;
  
  background: transparent;
  
}

.explore-small {
  display: flex;
  justify-content: center;
}

.samu {
  /* Placeholder / Image */
  position: static;
  width: 1200px;
  height: 600px;
  /* Inside Auto Layout */
  flex: none;
  order: 1;
  flex-direction: row;
  display: flex;
  /* align-self: stretch; */
  flex-grow: 0;
  /* margin: 80px 0px; */
  justify-content: center;
  border-radius: 48px;
  background-image: url('../img_uk/samu.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-size: cover;
}

.statistics {
  /* Statistics */
  position: static;
  width: 1440px;
  height: 864px;
  /* 자동 레이아웃 */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 112px 112px; 
  
  
  /* Inside Auto Layout */
  flex: none;
  order: 5;
  flex-grow: 0;
  margin: 0px 0px;
}


.sta-content {
  /* Content */
  position: static;
  width: 616px;
  height: 422px;
  /* 자동 레이아웃 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  
  
  /* Inside Auto Layout */
  flex: none;
  order: 0;
  flex-grow: 1;
  margin: 0px 80px;
}

.sta-title {
  /* Section Title */
  position: static;
  width: 616px;
  height: 150px;
  /* 자동 레이아웃 */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  
  
  /* Inside Auto Layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 32px 0px;
}

.sta-list {
  /* List */
  position: static;
  width: 616px;
  height: 240px;
  /* 자동 레이아웃 */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  
  
  /* Inside Auto Layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 32px 0px;
}

.sta-p {
  /* Subheading */
  position: static;
  width: 121px;
  height: 18px;
  /* 자동 레이아웃 */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  
  
  /* Inside Auto Layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 16px 0px;
  
  color: rgb(29, 30, 28);
  font-family: Pretendard;
  font-size: 12px;
  font-weight: 100;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}

.sta-t {
  /* Heading */
  position: static;
  width: 616px;
  height: 116px;
  /* 자동 레이아웃 */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  
  
  /* Inside Auto Layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 24px 0px;

  color: rgb(29, 30, 28);
  font-family: Pretendard;
  font-size: 48px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
}

.row1 {
   /* Row */
   position: static;
   width: 616px;
   height: 108px;
   /* 자동 레이아웃 */
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: flex-start;
   padding: 8px 0px 8px 0px;
   
   
   /* Inside Auto Layout */
   flex: none;
   order: 0;
   flex-grow: 0;
   margin: 24px 0px;
}

.row2 {
  /* Row */
  position: static;
  width: 616px;
  height: 108px;
  /* 자동 레이아웃 */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 8px 0px 8px 0px;
  
  
  /* Inside Auto Layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 24px 0px;

}

.column1 {
  /* List Item */
   position: static;
   width: 296px;
   height: 92px;
   /* 자동 레이아웃 */
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
   padding: 0px;
   
   
   /* Inside Auto Layout */
   flex: none;
   order: 0;
   flex-grow: 1;
   margin: 0px 24px;
}


.column2 {

  /* List Item */
  position: static;
  width: 296px;
  height: 92px;
  /* 자동 레이아웃 */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  
  
  /* Inside Auto Layout */
  flex: none;
  order: 1;
  flex-grow: 1;
  margin: 0px 24px;
}


.column1-title {
  /* Number */
  position: static;
  width: 296px;
  height: 58px;
  /* 자동 레이아웃 */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  
  
  /* Inside Auto Layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 8px 0px;

  color: rgb(29, 30, 28);
  font-family: Pretendard;
  font-size: 48px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
}

.column1-para {
  /* Text */
  position: static;
  width: 296px;
  height: 26px;
  /* 자동 레이아웃 */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  
  
  /* Inside Auto Layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 8px 0px;

  color: rgb(29, 30, 28);
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 400;
  line-height: 180%;
  letter-spacing: 0%;
  text-align: left;
}


.column2-title {
  /* Number */
  position: static;
  width: 296px;
  height: 58px;
  /* 자동 레이아웃 */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  
  
  /* Inside Auto Layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 8px 0px;

  color: rgb(29, 30, 28);
  font-family: Pretendard;
  font-size: 48px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
}

.column2-para {
  /* Text */
  position: static;
  width: 296px;
  height: 26px;
  /* 자동 레이아웃 */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  
  
  /* Inside Auto Layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 8px 0px;

  color: rgb(29, 30, 28);
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 400;
  line-height: 180%;
  letter-spacing: 0%;
  text-align: left;
}

.picture {
  background-image: url('../img_uk/placeholder.png');
  border-radius: 48px;
  /* Placeholder / Image */
   position: static;
   width: 516px;
   height: 640px;
   /* Inside Auto Layout */
   flex: none;
   order: 1;
   flex-grow: 1;
   margin: 0px 80px;
   background-repeat: no-repeat;
   background-size: contain;
   background-size: cover;
}